<form class="col s12" id="enviar-formulario">
    <div class="row">
        <div class="input-field col s12">
            <input name="titulo" id="titulo" type="text" class="validate">
            <label for="titulo">Título de la pregunta</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <textarea id="contenido" name="contenido" class="materialize-textarea"></textarea>
            <label for="contenido">Contenido</label>
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Enviar
        <i class="mdi-content-send right"></i>
    </button>
</form>
