<nav class="grey darken-3" role="navigation">
    <div class="nav-wrapper container">
        <span id="titulo-pagina" href="index.html" class="brand-logo"> </span>
        <ul class="right hide-on-med-and-down">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="listar-preguntas.html">Preguntas</a></li>
            <li><a href="login.html" data-session="false">Iniciar Sesión</a></li>
            <li><a href="registro.html" data-session="false">Registro</a></li>
            <li><a href="agregar-pregunta.html" data-session="true">Preguntar</a></li>
            <li><a href="listar-preguntas.html" data-session="true" class="guardar-id" data-tipo="usuario">Mis Preguntas</a></li>
            <li><a href="logout.html" data-session="true" class="salir">Salir</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="listar-preguntas.html">Preguntas</a></li>
            <li><a href="login.html" data-session="false">Iniciar Sesión</a></li>
            <li><a href="registro.html" data-session="false">Registro</a></li>
            <li><a href="agregar-pregunta.html" data-session="true">Preguntar</a></li>
            <li><a href="listar-preguntas.html" data-session="true" class="guardar-id" data-tipo="usuario">Mis Preguntas</a></li>
            <li><a href="logout.html" data-session="true" class="salir">Salir</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
</nav>
