<footer class="page-footer grey darken-3">
		<div class="container">
				<a class="white-text text-lighten-3" href="mailto:rangel.madelin@gmail.com">Madelin Rangel Grisales</a> <br>
				<a class="white-text text-lighten-3" href="mailto:yeicores72@gmail.com">Brian Yeicol Restrepo</a><br>
				<div class="fixed-action-btn" style="bottom: 45px;right: 24px;">
						<a class="btn-floating btn-large red" href="agregar-pregunta.html">
								<i class="mdi-content-add"></i>
						</a>
				</div>
		</div>
		<div class="footer-copyright">
				<div class="container">
						© 2016
				</div>
		</div>
</footer>